/** Base
========================================================================== */
$primary: #792e7b;

/** Type Colors
========================================================================== */

$text-main-color: #232323;

$link-color      : #00baff !default;
$link-hover      : darken($link-color, 15%) !default;
$link-active     : lighten($link-color, 10%) !default;

$link-low: adjust-color($link-color, $hue: 0, $saturation: -25, $lightness: 10);

/** Background Colors
========================================================================== */
$bg-highlight: red;
$bg: #eee;

$bg-highlight: #ebe8e5;
$bg-dark-highlight: #F7F2F7;
$bg-dark-alt-highlight: hsl(82, 2%, 97%);