.site-name {
  //@include replace-text('logo.png');
  //height: image-height('logo.png');
  //width: image-width('logo.png');
  margin-bottom: 0;

  @media only screen and (min-width: $do-layout) {
    float: left;
  }
}
.region-header {
  @media only screen and (min-width: $do-layout) {
    float: right;
  }  
}

#navigation {

}
.main-menu {
  @media only screen and (min-width: $do-layout) {
    @include horizontal-list(10px);
  }
}